.container--cartPage{
    width: 100%;
    color: var(--text-color);
    padding: 0 20px;
}
@media screen and (min-width: 700px){
    .container--cartPage>.container--cart{
        flex-direction: row;
        justify-content: center;
        gap: 20px
    }
    .container--cartPage .items-container--cart{
        border-radius: 10px;
    }
    .container--cartPage .totals--cart{
        min-width: 300px;
        position: sticky;
        align-self: flex-start;
        top: var(--header-height);
        border-radius: 10px;
    }

}

