.cart-container{
    width: 95%;
    color: var(--text-color);
    /* background-color: aqua; */
}
.title-cart{
    margin-left: 20px;
    padding-top: 10px;

}
.items-cart{
    background-color: rgb(250, 204, 139);
    padding-bottom: 20px;
    border-radius: 5px;


}