.categorypage-container{
    width: 50%;
    /* background-color: red; */
    padding:10px
}
.products-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,200px);
    grid-auto-rows: 1fr;
    justify-content: center;
    gap: 50px;
    /* background-color: blue; */
}