.myAccount-container{
    min-width: 70%;
    box-shadow: var(--box-shadow);
    background-color: white;
    border-radius: 5px;
    padding-bottom: 20px;
}
.title--myAccount{
    font-size: 1.5em;
    color: var(--text-color);
    border-bottom: 1px solid var(--border-color);
    padding: 0 0 0 var(--margin);
}
.grid--myAccount{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows:  repeat(3, minmax(200px, auto));
    gap: 10px;
    justify-content: center;
}
.info--myAccount{
    border: 1px solid var(--border-color);
    margin: 0 var(--margin)
}
.section-header--myAccount{
    color: var(--text-color);
    font-size: 0.8em;
    font-weight: 600;
    padding: var(--margin) 15px;
    border-bottom: 1px solid var(--border-color);
}
.details-section--myAccount{
    padding: var(--margin) 15px;
}