
.productDetails-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    --image-width: 250px;
    /* grid-auto-rows: 1fr; */
    width: 80%;
    max-width: 800px;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
}
.img-section-prdctDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-section-prdctDetails >*{
    margin-bottom: 10px;
}
.prdct-img-prdctDetails{
    width: var(--image-width);
    padding-top: 20px;
}
.details-productDetails{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px
}
.title-productDetails{
    font-size: 1.5em;
    margin: 0;
}
.descr-productDetails{
    color: var(--text-color);
    line-height: 1.5em;
}
.details-productDetails >*{
    margin-bottom: 30px;
}
.price-productDetails{
    font-size: 1.5em;
}
.add-to-cart-btn--productsDetails{
    width: var(--image-width);
    height: calc(var(--image-width) / 5);
}
.add-to-cart-btn--productsDetails:disabled{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--first-Color);
}
.add-to-cart-btn--productsDetails:disabled:hover{
    background-color: var(--first-Color);
}