
.productDetails-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,400px);
    grid-auto-rows: 1fr;
    width: 80%;
    max-width: 800px;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
}
.img-section-prdctDetails{
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-section-prdctDetails >*{
    margin-bottom: 10px;
}
.prdct-img-prdctDetails{
    width: 250px;
    padding-top: 20px;
}
.details-productDetails{
    display: flex;
    flex-direction: column;
    height: 100%;
    /* background-color: aquamarine; */
    justify-content: space-between;
    padding: 20px
}
.title-productDetails{
    font-size: 1.5em;
    margin: 0;
}
.descr-productDetails{
    color: var(--text-color);
    line-height: 1.5em;
}
.price-productDetails{
    font-size: 1.5em;
}
.addToCart-prdctDetails{
    border: 0;
    height: 50px;
    background-color: var(--first-Color);
    font-weight: 900;
    color: white;
    font-size: 1.2em;
    border-radius: 20px;
    cursor: pointer;

}


