.expiration-cvc--payment{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.expiration-cvc--payment .date--payment{
    width: 50%;
    text-align: center;
}
.card-expiration--payment{
    display: flex;
    align-items: center;
}
.expiration-cvc--payment>label{
    flex-basis: 50%;
}
.slash--payment{
    width: 20px;
    text-align: center;
}