.container--adminSideMenu{
    display: none;
}
@media screen and (min-width: 1030px) {
    .container--adminSideMenu{
        display: flex;
        flex-direction: column;
        flex-basis: 200px;
        background-color: white;
        box-shadow: 2px 2px 4px 0px gray;
        padding: 10px;
    }
    .container--adminSideMenu a{
        padding: 10px;
        margin-bottom: 5px;
    }
    .container--adminSideMenu a.active{
        background-color: var(--body-background-color);
        border-radius: 5px;
    }
    .container--adminSideMenu a:hover{
        background-color: #fff2e0;
        border-radius: 5px;
    }
    .container--adminSideMenu i{
        margin-right: 10px;
    }

}