.container--adminTotal-cell{
    display: flex;
    background-color: red;
}
.icon--adminTotalCell{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: green;
    width: 25px;
    height: 25px;
}
.cell-title--adminTotalCell{
    margin: 0;
}
.total-value--adminTotalCell{
    margin: 0; 
}