.container--adminSideMenu{
    display: none;
}
@media screen and (min-width: 1030px) {
    .container--adminSideMenu{
        display: flex;
        flex-direction: column;
        flex-basis: 200px;
        background-color: white;
        box-shadow: 2px 2px 4px 0px gray;
    }
}