.container--adminTotal-cell{
    display: flex;
    align-items: center;
    background-color: white;
    gap: 20px;
    padding: 20px 10px;
}
.icon--adminTotalCell{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: green;
    outline: 5px solid rgba(0, 128, 0, .2);
    color: white;
    width: 45px;
    height: 45px;
}
.cell-title--adminTotalCell{
    margin: 0;
    margin-bottom: 5px;
    color: rgb(188, 187, 187)
}
.total-value--adminTotalCell{
    margin: 0; 
    font-weight: 700;
}