.barsMenu-container{
    width: 50%;
    max-width: 250px;
    background-color: var(--first-Color);
    position: absolute;
    top: var(--header-height);
    right: 0;
    max-height: 100vh;
    transition: max-height 0.5s;
}
.closedMenu{
    max-height: 0;
}

.barsMenu-container > ul{
    list-style-type: none;
}
.barsMenu-container li{
    padding: 10px 0;
    width: 100%;
    cursor: pointer;
}
.barsMenu-container li:hover{
    background-color: var(--second-Color);
}