.barsMenu-container{
    height: calc(100% - var(--header-height));
    width: 100%;
    background-color: green;
    position: absolute;
    /* margin:0; */
    top: var(--header-height);
    left: 0
}