.btn--Button{
    margin-top: 30px;
    height: 50px;
    padding: 0 20px;
    background-color: var(--first-Color);
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    cursor: pointer;
    box-shadow: 0px 2px 5px 0px gray;
}
.btn--Button:hover{
    background-color: var(--second-Color);
  }