.category-container{
    display: flex;
    margin-top: 16px;
    padding: 16px;
    width: 100%;
}

.products-container{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    padding: 16px;
    height: 400px;
    border-radius: 0px 10px 10px 0;
    /* gap: 10px; */
    /* background-color: white; */
    /* border: 1px solid var(--first-Color); */
    /* border-bottom: 1px solid var(--first-Color); */
    /* border: solid red */
}
.category-name{
    color: white;
    font-weight: 700;
    /* border: 1px solid var(--first-Color); */
    width: fit-content;
    background-color: var(--first-Color);
    padding: 8px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}
.category-name:hover{
    background-color: var(--second-Color);
}
.image{
    display: block;
    /* border: 1px solid black; */
    width: 150px;
    /* box-shadow:  10px 10px 10px 0px gray; */
    transition: width 1s;
    cursor: pointer;
    
}
.image:hover{
    width: 155px
}