.category-container{
    display: flex;
    margin-top: 16px;
    padding: 16px;
    width: 100%;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    column-gap: 10px;
    grid-template-rows: 400px;
    grid-auto-rows: 0px;
    overflow-y: hidden;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    border-radius: 0px 10px 10px 0;
}
.category-name{
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: white;
    font-weight: 700;
    width: fit-content;
    background-color: var(--first-Color);
    padding: 20px 8px;
    border-radius: 10px 0 0 10px ;
    cursor: pointer;
}
.category-name:hover{
    background-color: var(--second-Color);
}
.image{
    display: block;
    width: 150px;
    transition: width 1s;
    cursor: pointer;
}
.image:hover{
    width: 155px
}