.container--closed-order{
    background-color: var(--third-Color);
    margin: 10px;
    padding : 10px;
    border-radius: 10px;
}
.header--closed-order{
    margin: 10px 20px;
}
.totals--closed-order{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 50px;
    background-color: white;
    border-radius: 10px;
}
.total-items-label--closed-order, .total-amount-label--closed-order{
    grid-column: 2/3;
    margin: auto;
}