.container--EmptyCustPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    padding: 10px;
}
.container--EmptyCustPage i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    background-color: var(--body-background-color);
    color: var(--first-Color);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.container--EmptyCustPage p{
    text-align: center;
    font-size: 0.9em;
    max-width: 400px;
    color: var(--text-color);
    margin:0
}
.container--EmptyCustPage button{
    margin-top: 30px;
    height: 50px;
    padding: 0 20px;
    background-color: var(--first-Color);
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    letter-spacing: 0.1em;
    cursor: pointer;
    box-shadow: 0px 2px 5px 0px gray;
}
.container--EmptyCustPage button:active{
    box-shadow: none;
}
.container--EmptyCustPage button:hover{
    background-color: var(--second-Color);
}
