.container--footer{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    width: 100%;
    margin-top: 50px;
    background-color: var(--first-Color);
    color: white;
    font-weight: 600;
}