
.header-container{
    display: flex;
    /* position: relative; */
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: 700;
    color: white;
    height: var(--header-height);
    width: 100%;
    padding: 20px;
    background-color: var(--first-Color);
    margin-bottom: 80px;
}
.cartIconLink-header{
    /* background-color: red; */
    margin-left: auto;
    color: inherit;
    margin-right: 24px;
}
