
.header-container{
    display: flex;
    /* position: relative; */
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: 700;
    color: white;
    height: var(--header-height);
    width: 100%;
    padding: 20px;
    background-color: var(--first-Color);
    margin-bottom: 80px;
    position: sticky;
    top:0
}
.logo{
    color: white;
}
.cartIconLink-header{
    position: relative;
    /* background-color: green; */
    margin-left: auto;
    color: inherit;
    margin-right: 24px;
}
.items-counter-header{
    display: flex;
    position: absolute;
    right: -25%;
    top: -25%;
    align-items: center;
    justify-content: center;
    font-size: 0.5em;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    
}
