
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: 700;
    color: white;
    height: var(--header-height);
    width: 100%;
    padding: 20px;
    background-color: var(--first-Color);
    margin-bottom: 80px;
    position: sticky;
    top:0
}
.logo{
    color: white;
}
.icon-container--header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    font-weight: 400;
    font-size: 1em;

}
.icon-label--header{
    display: none;
}
.user-icon-header{
    margin-left: auto;
    color: white;
}
.cartIconLink-header{
    position: relative;
    color: inherit;
}
.fa-cart-shopping{
    position: relative
}
.items-counter-header{
    display: flex;
    position: absolute;
    right: -25%;
    top: -25%;
    align-items: center;
    justify-content: center;
    font-size: 0.4em;
    background-color: red;
    border-radius: 50%;
    width: 15px;
    height: 15px; 
}
.bars-icon-container--header{
    cursor: pointer;
    margin-right: 0;
    /* align-self: stretch; */
}


@media screen and (min-width: 700px){
    .icon-label--header{
        font-family: 'Roboto', sans-serif;  
        font-size: 0.65em;
        letter-spacing: 1px;
        margin-top: 5px;
        display: inline;
    }
}
    

