.input-container{
    --theme-color: var(--first-Color);
    --label-position-left: 15%;
    position: relative;
    width: 80%;
    margin-bottom: 40px;
    border-bottom: 0.5px solid var(--theme-color);
}
.invalid--inputComponent::after{
    content: attr(invalidMessage);
    position: absolute;
    color: red;
    top: 100%;
    left: var(--label-position-left);
    margin-top: 2px;
    font-size: 0.8rem;
}
.input-container > i{
    color: var(--theme-color);
    width: 10%;
    text-align: center;
}
.input--inputComponent{
    border: 0;
  }
.input--inputComponent:focus{
    outline: none;
  }
  .label--inputComponent{
    position: absolute;
    top:0;
    left: 15%;
    transition:  top 0.5s;
    pointer-events: none;
    color: rgb(169, 163, 163);
    font-size: 0.9em
}
.input--inputComponent:focus + .label--inputComponent, .input--inputComponent:not(:placeholder-shown) + .label--inputComponent {
    top: -100%;
    color: var(--theme-color)
}

.bottom-line--inputComponent{
    visibility: hidden;
    border: 1px solid var(--theme-color);
    width: 0;
    margin: auto;
    transition:  0.5s;
}
.input--inputComponent:focus ~ .bottom-line--inputComponent {
    width: 100%;
    visibility: visible;
}