.quantityControler-container span, .number-input--quantityControler{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 32px;
    text-align: center;
    border: 1px solid var(--first-Color)
}
.number-input--quantityControler{
    appearance: textfield;
}
.number-input--quantityControler::-webkit-outer-spin-button,
.number-input--quantityControler::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.minus-quantityControler, .plus-quantityControler{
    background-color: var(--first-Color) ;
    cursor: pointer;
}
.minus-quantityControler{
    border-radius: 5px 0 0 5px;
}
.plus-quantityControler{
    border-radius: 0 5px 5px 0;
}