.quantityControler-container{
    --controler-element-width: 64px;
    --controler-element-height: calc( var(--controler-element-width) * 3 / 5 );
}
.minus-quantityControler, .plus-quantityControler, .number-input--quantityControler{
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--controler-element-width);
    height: var(--controler-element-height);
    text-align: center;
    border: 1px solid var(--first-Color)
}
.number-input--quantityControler{
    appearance: textfield;
}
.number-input--quantityControler::-webkit-outer-spin-button,
.number-input--quantityControler::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.minus-quantityControler, .plus-quantityControler{
    background-color: var(--first-Color) ;
    cursor: pointer;
}
.minus-quantityControler{
    border-radius: 5px 0 0 5px;
}
.plus-quantityControler{
    border-radius: 0 5px 5px 0;
}