.container--searchbar{
    position: relative;
    --input-padding-left: 20px
}
.suggestion-list--searchbar{
    display: none;
    margin: 0;
    background-color: white;
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    z-index: -1;
    color: gray;
    font-size: medium;
    list-style-type: none;
    padding: 30px var(--input-padding-left);
.suggestion-list--searchbar:hover {
    display: block;
}