.container--searchbar{
    position: relative;
    --input-padding-left: 20px
}
.suggestion-list--searchbar{
    display: none;
    margin: 0;
    background-color: white;
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    z-index: -1;
    color: gray;
    font-size: medium;
    list-style-type: none;
    padding: 0;
    font-weight: 500;
}
.suggestion--searchbar{
    display: block;
    padding : 10px var(--input-padding-left);
}
.suggestion--searchbar:hover{
    background-color: var(--body-background-color);
}
.suggestion--searchbar:first-child{
    margin-top: 20px
}
.suggestion--searchbar:last-child{
    margin-bottom: 20px
}
.suggestion-list--searchbar:hover {
    display: block;
}