.container--userMenuTop{
    position: absolute;
    width: 200px;
    background-color: var(--first-Color);
    top: calc(100% + var(--header-top-padding));
    margin:0;
    overflow: hidden;
    padding: 0;
}
.container--userMenuTop .menu-item--userMenutop{
    display: block;
    color: white;
    font-size: 0.7em;
    font-weight: 400;
    padding: 10px 0 10px 15px;
    width: 100%;
    cursor: pointer;
}
.container--userMenuTop .logout--userMenuTop{
    color: red;
}
.container--userMenuTop a:hover{
    background-color: var(--second-Color);
}
.big-container--userMenuTop{
    display: none;
}
.cust-menu-ul i{
    margin-right: 10px;
}
@media screen and (min-width: 700px){
    .big-container--userMenuTop{
        display: flex;
        flex-direction: column;
        width: 300px;
        padding:30px 0  ;
        margin:0;
        /* padding-top: var(--margin); */
        border-radius: 5px;
        background-color: white;
        box-shadow: var(--box-shadow);
    }
    .big-container--userMenuTop .menu-item--userMenutop{
        display: block;
        color: var(--text-color);
        font-size: 1em;
        font-weight: 600;
        letter-spacing: 0.1em;
        padding: var(--margin);
        width: 100%;
        cursor: pointer;
        /* border-top: 1px solid var(--border-color); */
    }
    .big-container--userMenuTop .logout--userMenuTop{
        color: red;
    }
    .big-container--userMenuTop a:hover{
        background-color: var(--body-background-color);
    }
}