*{
  box-sizing: border-box;
}
:root{
  margin: 0;
  padding:0;
  --first-Color: #F89B1D;
  --second-Color: #CB653E;
  --text-color: #57504f;
  --body-background-color: #ffe8c8;
  --header-height: 75px;
  font-family: 'Roboto', sans-serif;  
}

body{
  margin: 0;
  background-color: var(--body-background-color);
}
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App {
  text-align: center;
}
.gold-star{
  color: gold
}
a{
  color: initial;
  text-decoration: none;
}
.btn{
  background-color: var(--first-Color);
  color: white;
}
.btn:hover{
  background-color: var(--second-Color);
}
