*{
  box-sizing: border-box;
  /* margin:0;
  padding:0; */
}
:root{
  margin: 0;
  padding:0;
  --first-Color: #F89B1D;
  --second-Color: #CB653E;
  --header-height: 64px;
  font-family: 'Roboto', sans-serif;  

}
body{
  /* padding: 0; */
  margin: 0;
}
.App {
  text-align: center;
}
