.container--dashboard{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(5, 85px);
    grid-auto-rows: 85px;
    gap: 20px;
}

@media screen and (min-width: 560px) {
    .sales-chart--dashboard{
        grid-column: span 2;
    }
}