.container--checkoutLayout{
    background-color: blue;
}
.phases--checkoutLayout{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    background-color: red;
}