.container--checkoutLayout{
    display: flex;
    width: 95%;
    justify-content: center;
    background-color: red;
}
.infos-section--checkoutLayout{
    background-color: rgb(250, 204, 139);
    flex-basis: 600px;

}
.phases--checkoutLayout{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    background-color: red;
}
.container--checkoutLayout > .container--cart{
    display: none;
}
}