.container--checkoutLayout{
    display: flex;
    /* background-color: rgb(250, 204, 139); */
}
.infos-section--checkoutLayout{
    background-color: rgb(250, 204, 139);
    margin-right : 20px

}
.phases--checkoutLayout{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    background-color: red;
}