.customer-layout-container{
    --border-color: #ffce8b;
    --margin : 15px;
    --box-shadow: 0 0 2px 0px #c2bcbc;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 90%;
}
.customer-page-container{
    min-width: 70%;
    box-shadow: var(--box-shadow);
    background-color: white;
    border-radius: 5px;
    padding-bottom: 20px;
}
.title--customerLayout{
    font-size: 1.5em;
    color: var(--text-color);
    border-bottom: 1px solid var(--border-color);
    padding: 0 0 0 var(--margin);
}